DATABASE_URL=
AWS_REGION=
SQS_QUEUE_URL=
SQS_ENDPOINT_URL=
SQS_WAIT_TIME_SECONDS=
SQS_VISIBILITY_TIMEOUT_SECONDS=
STORAGE_ENDPOINT_URL=
STORAGE_REGION=
STORAGE_ACCESS_KEY=
STORAGE_SECRET_KEY=
STORAGE_DEFAULT_BUCKET=
RGB_MODEL_PATH=
RGB_MODEL_NAME=
RGB_MODEL_VERSION=
RGB_MODEL_INPUT_SIZE=
RGB_MODEL_CONFIDENCE_THRESHOLD=
THERMAL_MODEL_PATH=
THERMAL_MODEL_NAME=
THERMAL_MODEL_VERSION=
THERMAL_MODEL_INPUT_SIZE=
THERMAL_MODEL_CONFIDENCE_THRESHOLD=
